<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        stopOnWarning="true">
    <testsuites>
        <testsuite name="enum">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
